/* line 2, ../compass/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 7, ../compass/_base.scss */
body {
  overflow: hidden; }
  /* line 9, ../compass/_base.scss */
  body .app-container {
    width: 100vw;
    height: 100vh;
    overflow-x: auto; }

/* line 16, ../compass/_base.scss */
.main {
  padding: 10px; }

/* line 20, ../compass/_base.scss */
.image-button {
  padding: 0 1rem 0 2.125rem; }
  /* line 22, ../compass/_base.scss */
  .image-button .icon {
    background-color: transparent; }

/* line 28, ../compass/_base.scss */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: rgba(0, 0, 0, 0.4); }

/* line 33, ../compass/_base.scss */
::-webkit-scrollbar-thumb {
  background: #444; }

/* line 36, ../compass/_base.scss */
::-webkit-scrollbar-corner {
  background: #000; }

/* line 40, ../compass/_base.scss */
.hint2.line {
  padding: 4px;
  display: block;
  max-width: 100%;
  margin: 0px 0px 0px; }

/* line 2, ../compass/_charm.scss */
.charm-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 599;
  background: rgba(0, 0, 0, 0.3); }

/* line 12, ../compass/_charm.scss */
.charm.right-side {
  width: 350px;
  right: -350px;
  overflow: auto;
  z-index: 600; }
  /* line 18, ../compass/_charm.scss */
  .charm.right-side label {
    display: block;
    margin-top: 6px; }

/* line 5, ../compass/_dialog.scss */
.dialog-overlay.black-overlay {
  background-color: rgba(0, 0, 0, 0.2); }

/* line 12, ../compass/_dialog.scss */
.dialog p {
  margin-bottom: 10px; }
/* line 15, ../compass/_dialog.scss */
.dialog p.small {
  font-size: 0.8em; }
/* line 18, ../compass/_dialog.scss */
.dialog .actions {
  margin-top: 20px;
  text-align: right; }
  /* line 22, ../compass/_dialog.scss */
  .dialog .actions .button {
    margin-left: 10px; }

/* line 3, ../compass/_grid.scss */
.tile-area {
  background: url(../img/meteor-bg.jpg) fixed; }

/* line 7, ../compass/_grid.scss */
.tile-area-title img {
  width: 60px; }

/* line 11, ../compass/_grid.scss */
.tile-area-controls {
  position: fixed;
  right: 40px;
  top: 40px; }

/* line 21, ../compass/_grid.scss */
.grid-container {
  position: absolute;
  top: 66px;
  left: 0;
  right: 10px;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden; }

/* line 31, ../compass/_grid.scss */
.grid {
  position: relative;
  height: 100%;
  list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width 0.2s;
  margin: 20px 70px;
  padding-bottom: 30px; }
  /* line 40, ../compass/_grid.scss */
  .grid li {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s; }
    /* line 51, ../compass/_grid.scss */
    .grid li .inner {
      position: absolute;
      top: 0;
      bottom: 10px;
      left: 10px;
      right: 0;
      -webkit-transition: background 3s; }
    /* line 60, ../compass/_grid.scss */
    .grid li.changed .inner {
      -webkit-transition: none; }
    /* line 63, ../compass/_grid.scss */
    .grid li.ui-draggable-dragging {
      -webkit-transition: none; }
    /* line 66, ../compass/_grid.scss */
    .grid li.position-highlight {
      -webkit-transition: none; }
    /* line 69, ../compass/_grid.scss */
    .grid li.position-highlight .inner {
      border: none;
      background: rgba(255, 255, 255, 0.05); }

/* line 4, ../compass/_project_create.scss */
.dialog .create-project-container {
  width: 500px; }
  /* line 7, ../compass/_project_create.scss */
  .dialog .create-project-container label {
    cursor: default; }
  /* line 11, ../compass/_project_create.scss */
  .dialog .create-project-container .button.file {
    overflow: hidden; }
  /* line 15, ../compass/_project_create.scss */
  .dialog .create-project-container .input-control button.file input[type="file"] {
    padding: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer; }
  /* line 26, ../compass/_project_create.scss */
  .dialog .create-project-container .messages {
    display: none; }
    /* line 28, ../compass/_project_create.scss */
    .dialog .create-project-container .messages .info {
      font-size: 10px; }
    /* line 31, ../compass/_project_create.scss */
    .dialog .create-project-container .messages .message {
      display: none; }
      /* line 33, ../compass/_project_create.scss */
      .dialog .create-project-container .messages .message .icon {
        float: left;
        display: block;
        font-size: 20px;
        margin-bottom: 7px;
        margin-right: 10px;
        height: 50px; }
        /* line 41, ../compass/_project_create.scss */
        .dialog .create-project-container .messages .message .icon.mif-checkmark {
          font-size: 16px; }
  /* line 48, ../compass/_project_create.scss */
  .dialog .create-project-container .button-create {
    opacity: 0.5; }
  /* line 52, ../compass/_project_create.scss */
  .dialog .create-project-container .creating-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    text-align: center; }
    /* line 64, ../compass/_project_create.scss */
    .dialog .create-project-container .creating-overlay .loading-box {
      margin-top: 80px; }
      /* line 67, ../compass/_project_create.scss */
      .dialog .create-project-container .creating-overlay .loading-box .loading {
        font-size: 60px;
        color: #bbb; }
      /* line 72, ../compass/_project_create.scss */
      .dialog .create-project-container .creating-overlay .loading-box .success {
        display: inline-block;
        border: 2px solid #0B0;
        color: #0B0;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 26px;
        font-size: 24px; }
        /* line 81, ../compass/_project_create.scss */
        .dialog .create-project-container .creating-overlay .loading-box .success .icon {
          margin-bottom: 8px; }
      /* line 86, ../compass/_project_create.scss */
      .dialog .create-project-container .creating-overlay .loading-box .error {
        display: inline-block;
        color: #B00; }
        /* line 89, ../compass/_project_create.scss */
        .dialog .create-project-container .creating-overlay .loading-box .error .icon {
          font-size: 64px; }
      /* line 94, ../compass/_project_create.scss */
      .dialog .create-project-container .creating-overlay .loading-box .msg {
        color: #bbb;
        margin: 20px 0; }
      /* line 99, ../compass/_project_create.scss */
      .dialog .create-project-container .creating-overlay .loading-box .hidden {
        display: none; }

/* line 8, ../compass/_project_item.scss */
.grid .item .controls {
  position: absolute;
  top: 0;
  font-size: 0.4em;
  font-weight: normal;
  line-height: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.2s; }
  /* line 17, ../compass/_project_item.scss */
  .grid .item .controls.left {
    left: 0; }
  /* line 20, ../compass/_project_item.scss */
  .grid .item .controls.right {
    right: 1px; }
/* line 25, ../compass/_project_item.scss */
.grid .item:hover .controls {
  opacity: 1; }
/* line 30, ../compass/_project_item.scss */
.grid .item a {
  font-size: 0.6em;
  float: left;
  padding: 5px 6px;
  text-decoration: none;
  color: #fff; }
/* line 38, ../compass/_project_item.scss */
.grid .item .project-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -38px;
  font-size: 64px;
  opacity: 0.1; }
  /* line 47, ../compass/_project_item.scss */
  .grid .item .project-icon.hidden {
    display: none; }
/* line 59, ../compass/_project_item.scss */
.grid .item .tile-large .project-icon {
  transform: scale(2); }
/* line 67, ../compass/_project_item.scss */
.grid .item .project-launched {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 6px;
  border: 3px solid #60a917; }
/* line 82, ../compass/_project_item.scss */
.grid .item.state-launched .project-launched {
  display: block; }
/* line 89, ../compass/_project_item.scss */
.grid .item.state-building .project-launched {
  display: block;
  border: 3px solid #1b6eae; }

/* line 107, ../compass/_project_item.scss */
.inner .tile {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto; }
  /* line 117, ../compass/_project_item.scss */
  .inner .tile .tile-content {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
  /* line 125, ../compass/_project_item.scss */
  .inner .tile .tile-label {
    font-size: 0.4em; }

/*
.tile, .tile-small, .tile-sqaure, .tile-wide, .tile-large, .tile-big, .tile-super {
  opacity: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}
*/
/* line 2, ../compass/_project_view.scss */
.project-dialog {
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
  z-index: 500; }
  /* line 9, ../compass/_project_view.scss */
  .project-dialog .dialog-body {
    width: 100%;
    height: 100%; }
  /* line 14, ../compass/_project_view.scss */
  .project-dialog .title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase; }
  /* line 20, ../compass/_project_view.scss */
  .project-dialog .content {
    position: absolute;
    top: 32px;
    bottom: 0px;
    left: 0px;
    right: 0px; }
    /* line 27, ../compass/_project_view.scss */
    .project-dialog .content .project-view {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0;
      bottom: 0px; }
    /* line 35, ../compass/_project_view.scss */
    .project-dialog .content .project-controls {
      margin-bottom: 20px; }
      /* line 39, ../compass/_project_view.scss */
      .project-dialog .content .project-controls .image-button .icon {
        background-color: transparent; }
      /* line 44, ../compass/_project_view.scss */
      .project-dialog .content .project-controls .split-button .split {
        float: right;
        border: none; }
        /* line 48, ../compass/_project_view.scss */
        .project-dialog .content .project-controls .split-button .split:before {
          border-color: #fff; }
    /* line 54, ../compass/_project_view.scss */
    .project-dialog .content .log {
      position: absolute;
      top: 52px;
      left: -1.25rem;
      right: -1.25rem;
      bottom: 0;
      background: #222;
      font-family: MONOSPACE;
      font-size: 11px; }
      /* line 64, ../compass/_project_view.scss */
      .project-dialog .content .log .log-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
        /* line 70, ../compass/_project_view.scss */
        .project-dialog .content .log .log-background .project-image {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-position: center;
          background-size: cover; }
        /* line 79, ../compass/_project_view.scss */
        .project-dialog .content .log .log-background .project-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -32px;
          margin-top: -38px;
          font-size: 64px;
          opacity: 0.1;
          transform: scale(2); }
      /* line 91, ../compass/_project_view.scss */
      .project-dialog .content .log .log-view {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        overflow: auto;
        border: 3px solid transparent; }
        /* line 102, ../compass/_project_view.scss */
        .project-dialog .content .log .log-view.running {
          border: 3px solid #60a917; }
        /* line 106, ../compass/_project_view.scss */
        .project-dialog .content .log .log-view.building {
          border: 3px solid #1b6eae; }
    /* line 112, ../compass/_project_view.scss */
    .project-dialog .content .meteor-info {
      position: absolute;
      left: 0;
      bottom: -15px;
      font-size: 9px; }
      /* line 118, ../compass/_project_view.scss */
      .project-dialog .content .meteor-info .icon {
        float: left;
        margin-right: 4px; }
  /* line 125, ../compass/_project_view.scss */
  .project-dialog p {
    margin: 0;
    line-height: 1.3; }
  /* line 130, ../compass/_project_view.scss */
  .project-dialog .dialog-close-button {
    background-color: transparent !important;
    color: white !important;
    font-size: 37px;
    width: auto;
    height: auto;
    min-height: 0;
    padding: 0px 10px; }

/* line 142, ../compass/_project_view.scss */
.error-message .icon {
  display: block;
  font-size: 30px;
  margin: 15px 0; }

/* line 3, ../compass/_project_editor.scss */
.charm.right-side .project-controls {
  margin-bottom: 20px; }
/* line 6, ../compass/_project_editor.scss */
.charm.right-side .actions {
  margin-top: 20px; }

/* line 13, ../compass/_project_editor.scss */
#charmEditor .group-of-buttons.schemeButtons .color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
/* line 20, ../compass/_project_editor.scss */
#charmEditor .group-of-buttons.schemeButtons .active {
  border: 3px solid #fff; }
/* line 25, ../compass/_project_editor.scss */
#charmEditor .input-control {
  height: auto; }
  /* line 28, ../compass/_project_editor.scss */
  #charmEditor .input-control input {
    height: 2.125rem; }
  /* line 33, ../compass/_project_editor.scss */
  #charmEditor .input-control.text-file input[type="text"] {
    width: 263px; }
  /* line 36, ../compass/_project_editor.scss */
  #charmEditor .input-control.text-file input[type="text"]:disabled {
    width: 100%; }
  /* line 42, ../compass/_project_editor.scss */
  #charmEditor .input-control.text-image input[type="text"] {
    width: 240px; }
  /* line 45, ../compass/_project_editor.scss */
  #charmEditor .input-control.text-image .button.clear {
    padding: 0px 10px; }
  /* line 48, ../compass/_project_editor.scss */
  #charmEditor .input-control.text-image .button.file {
    right: 35px;
    padding: 0px 10px; }
  /* line 54, ../compass/_project_editor.scss */
  #charmEditor .input-control button.file {
    overflow: hidden; }
    /* line 56, ../compass/_project_editor.scss */
    #charmEditor .input-control button.file input[type="file"] {
      padding: 500px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: none;
      cursor: pointer; }

/* line 4, ../compass/_project_build.scss */
.dialog .build-project-container {
  width: 500px; }
  /* line 7, ../compass/_project_build.scss */
  .dialog .build-project-container label {
    display: block;
    cursor: default;
    margin-top: 8px; }
  /* line 13, ../compass/_project_build.scss */
  .dialog .build-project-container .button.file {
    overflow: hidden; }
  /* line 17, ../compass/_project_build.scss */
  .dialog .build-project-container .input-control button.file input[type="file"] {
    padding: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer; }
  /* line 28, ../compass/_project_build.scss */
  .dialog .build-project-container .button-build {
    opacity: 0.5; }

/* line 4, ../compass/_project_packages.scss */
#charmPackages .package-header h3 {
  margin-top: 20px;
  font-weight: 200; }
/* line 8, ../compass/_project_packages.scss */
#charmPackages .package-header .button-add {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  cursor: pointer; }
/* line 20, ../compass/_project_packages.scss */
#charmPackages .list {
  margin-bottom: 30px; }
  /* line 23, ../compass/_project_packages.scss */
  #charmPackages .list .item {
    padding: 10px;
    background: #555;
    margin-bottom: 4px;
    cursor: default;
    transition: all 0.2s ease-in-out; }
    /* line 31, ../compass/_project_packages.scss */
    #charmPackages .list .item .button-remove {
      opacity: 0;
      cursor: pointer;
      float: right;
      width: 30px;
      height: 30px;
      padding: 7px;
      font-size: 16px;
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 3px;
      right: 0; }
    /* line 45, ../compass/_project_packages.scss */
    #charmPackages .list .item .name {
      font-size: 15px;
      max-width: 90%;
      display: inline-block; }
    /* line 50, ../compass/_project_packages.scss */
    #charmPackages .list .item .version {
      font-size: 10px;
      color: #AAA; }
    /* line 55, ../compass/_project_packages.scss */
    #charmPackages .list .item:hover {
      background-color: #666; }
      /* line 57, ../compass/_project_packages.scss */
      #charmPackages .list .item:hover .button-remove {
        opacity: 0.5; }
        /* line 59, ../compass/_project_packages.scss */
        #charmPackages .list .item:hover .button-remove:hover {
          opacity: 1; }
  /* line 67, ../compass/_project_packages.scss */
  #charmPackages .list [data-name="insecure"] .name, #charmPackages .list [data-name="autopublish"] .name {
    color: #f22; }

/* line 77, ../compass/_project_packages.scss */
.dialog .add-package-container, .dialog .remove-package-container {
  width: 500px; }
  /* line 80, ../compass/_project_packages.scss */
  .dialog .add-package-container .title, .dialog .remove-package-container .title {
    font-size: 24px; }
/* line 86, ../compass/_project_packages.scss */
.dialog .add-package-container .input-name {
  width: 100%;
  padding: 6px; }

/* line 4, ../compass/_project_platforms.scss */
#charmPlatforms .list .item {
  padding: 10px;
  background: #555;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  /* line 12, ../compass/_project_platforms.scss */
  #charmPlatforms .list .item .icon {
    float: left;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 10px; }
  /* line 20, ../compass/_project_platforms.scss */
  #charmPlatforms .list .item .name {
    font-size: 17px; }
  /* line 24, ../compass/_project_platforms.scss */
  #charmPlatforms .list .item:hover {
    background-color: #666; }

/* line 5, ../compass/_search.scss */
.charm.right-side .search-results {
  margin-top: 10px; }
  /* line 7, ../compass/_search.scss */
  .charm.right-side .search-results .result {
    background: #555;
    padding: 10px;
    overflow: auto;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out; }
    /* line 15, ../compass/_search.scss */
    .charm.right-side .search-results .result .helper {
      float: left;
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      margin-right: 10px;
      overflow: hidden;
      position: relative; }
      /* line 23, ../compass/_search.scss */
      .charm.right-side .search-results .result .helper .img {
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
    /* line 34, ../compass/_search.scss */
    .charm.right-side .search-results .result .name {
      font-size: 16px;
      margin: 2px 0 4px; }
    /* line 38, ../compass/_search.scss */
    .charm.right-side .search-results .result .port {
      font-size: 12px; }
    /* line 42, ../compass/_search.scss */
    .charm.right-side .search-results .result:hover {
      background: #777; }

/* line 4, ../compass/_settings.scss */
#charmSettings .about {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px; }
  /* line 9, ../compass/_settings.scss */
  #charmSettings .about .about-link {
    border: none;
    width: 100%; }
